body {
  width: 500px;
  padding: 10px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Style for windows */
.window {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

/* Style for tab groups */

.group-heading {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  border-radius: 3px; /* Adjust the radius as needed */
}

/* Style for tab lists */
.tab-list {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 1px;
}

/* Style for individual tab items */
.tab-item {
    margin-bottom: 5px;
    padding: 5px;  
    border-radius: 3px;
}

.tab-item-dup1 {
    background-color: #f0f0f0;
}

.tab-item-dup2 {
    background-color: #2d81cf;
}

.tab-item-dup3 {
    background-color: #e3b54b;
}

.tab-item-dup4 {
    background-color: #e6675c; 
}

.tab-item a {
  text-decoration: none;
  color: #333;
}

.tab-item:hover {
  background-color: #e0e0e0;
}
